* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 246, 230);
    color: rgb(42, 141, 92);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logoHome {
    width: 200px;
    font-size: 25px;
    color: rgb(203, 41, 57);
    visibility: hidden;
    animation: moveLogo 4s forwards;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: rgb(42, 141, 92);
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(212, 150, 98);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.item {
    font-size: 20px;
    width: 750px;
    transform: translate(15%, 25%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    background-color: rgb(255, 247, 229);
    padding: 25px;
    visibility: hidden;
    animation: moveText 4s forwards;
}

.profile {
    height: 500px;
    width: 500px;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.6s ease;
    perspective: 1000px;
    transform: translate(230%, -80%);
    visibility: visible;
    animation: moveall 5s forwards;
    pointer-events: none;
    z-index: 101;
}

.profile.animation-complete {
    pointer-events: auto;
}

.profile.animation-complete:hover .front {
    transform: rotateY(180deg);
}

.profile.animation-complete:hover .back {
    transform: rotateY(0deg);
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
    border-radius: 500px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.front {
    z-index: 2;
}

.back {
    background-color: gray;
    color: white;
    transform: rotateY(180deg);
}

.profile:hover .front {
    transform: rotateY(180deg);
}

.profile:hover .back {
    transform: rotateY(0deg);
}

.profile_pic {
    height: 100%;
    width: 100%;
    border-radius: 1000px;
    object-fit: cover;
}

.instaPic, .spotPic, .linkPic, .gitPic, .youPic {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

@keyframes moveall {
    0% { height: 850px; width: 850px; transform: translate(60%, -70%); animation-delay: 1s; }
    70% { visibility: hidden; }
    100% { transform: translate(230%, -80%); visibility: visible; }
}

@keyframes moveText {
    0% { transform: translate(80%, 20%); visibility: hidden; }
    12% { visibility: hidden; }
    100% { visibility: visible; }
}

@keyframes moveLogo {
    0% { transform: translate(500%, 1500%); visibility: hidden; }
    12% { visibility: hidden; }
    100% { visibility: visible; }
}

@keyframes navMove {
    0% { transform: translate(-550%, 1350%); }
}

.tab li {
    animation: navMove 4s;
}

.instaPic {
    transform: translate(50px, 350px);
    position: absolute;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.spotPic {
    transform: translate(100px, 60px);
    position: absolute;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.linkPic {
    transform: translate(100px, 200px);
    position: absolute;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.gitPic {
    transform: translate(200px, 300px);
    position: absolute;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.youPic {
    transform: translate(10px, 0px);
    position: absolute;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.instaPic:hover, .spotPic:hover, .linkPic:hover, .gitPic:hover, .youPic:hover {
    transform: translate(50px, 350px) scale(1.1);
}

.spotPic:hover {
    transform: translate(100px, 60px) scale(1.1);
}

.linkPic:hover {
    transform: translate(100px, 200px) scale(1.1);
}

.gitPic:hover {
    transform: translate(200px, 300px) scale(1.1);
}

.youPic:hover {
    transform: translate(10px, 0px) scale(1.1);
}

.logo {
    width: 200px;
    font-size: 25px;
    color: rgb(203, 41, 57);
    z-index: 10;
}

.qualBody {
    font-size: clamp(14px, 1.5vw, 20px);
    width: 45vw;
    max-width: 750px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    background-color: rgb(255, 247, 229);
    padding: 2vh 2vw;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    justify-items: center;
    transform: translate(0% , 65vh);
}

.image-grid img {
    max-width: 75px;
    height: auto;
    border-radius: 100px;
    border-color: black;
}

.image-grid img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 254, 21, 0.3);
}